@tailwind base;    /* ye html ki styling remove krti hai like h1/h2...etc */
@tailwind components;
@tailwind utilities;

/* 
Step 01 with the help of className.
.heading{
    color: blue;
    background-color: pink;
    font-size: 50px;
} */